<html>

<head>
    <title>See Progress</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/graph.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body>
    <div id="settings-container" class="hidden">
        <div id="settings-content">
            <div id="settings-title">
                <h1>Settings</h1>
            </div>
            <div class="settings-section-a">
                <div id="quota-header">
                    <h2 id="quota-title">Daily Quota</h2>
                    <label class="switch inline">
                        <input id="quota-toggle" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    <p id="quota-enable-msg" class="settings-error inline hidden"> &#60;&#45;enable here</p>
                </div>
                <div>
                    <div class="form-group inline">
                        <input id="quota-val" type="text" class="form-control" style="width: 100px" onkeypress='return validateNumeric(event)'>
                    </div>

                    <div class="form-group inline">
                        <select class="form-control" id="quota-unit">
                            <option value="hours">hours</option>
                            <option value="minutes">minutes</option>
                        </select>
                    </div>

                    <p id="quota-label"> of </p>
                    <div class="form-group inline">
                        <select class="form-control" id="quota-type">
                            <option value="unprod">unproductive usage</option>
                            <option value="all">any usage</option>
                        </select>
                    </div>
                </div>
                <p id="quota-error" class="settings-error hidden">invalid quota</p>
            </div>
            <div class="settings-section-b">
                <h2>Unproductive Sites</h2>
                <div id="unprod-sites"></div>
                <div id="add-unprod-site">
                    <img height=20 width=20 src="{{ url_for('static', filename='img/plus.png') }}"/>
                </div>
            </div>
            <div class="settings-section-a">
                <div id="settings-buttons">
                    <button id="settings-cancel" class="btn btn-primary inline">cancel</button>
                    <button id="settings-save" class="btn btn-primary inline">save</button>
                </div>
            </div>
        </div>
    </div>
    <div id="body-container">
        <div id="card0" class="full-width">
            <div id="header">
                <div id="logo" class="inline">
                    <h1 id="logo1" class="inline">see</h1>
                    <h1 id="logo2" class="inline">progress</h1>
                </div>
                <div id="nav" class="inline">
                    <div class="nav-part inline">
                        <h5>logged in as:
                            {% if email %}
                            {{ email }}
                            {% else %}
                            guest
                            {% endif %}
                        </h5>
                    </div>
                    <div class="vert-divider inline"></div>
                    {% if email %}
                    <div class="nav-part inline">
                        <a href="#"><h5>log out<h5></a>
                        </div>
                        {% else %}
                        <div class="nav-part inline">
                            <a href="#"><h5>login<h5></a>
                            </div>
                            <div class="vert-divider inline"></div>
                            <div class="nav-part inline">
                                <a href="#"><h5>create an account<h5></a>
                                </div>
                                {% endif %}
                                <div class="vert-divider inline"></div>
                                <div class="nav-part inline">
                                    <img id="settings-icon" src="{{ url_for('static', filename='img/settings.png') }}"/>
                                </div>
                            </div>
                        </div>
                        <div id="{{ today_section_id }}">
                            <div class="sub-today inline">
                                <div class="center-text">
                                    <h2>time online today</h2>
                                </div>
                                <div class="center-text">
                                    <div class="inline">
                                        <div class="time-part inline"><h3 id="total-hours"></h3></div>
                                        <div class="time-part inline"><h3 id="total-minutes"></h3></div>
                                    </div>
                                </div>
                                <div class="center-text">
                                    <div class="inline">
                                        <div class="label-part inline"><h4>hours</h4></div>
                                        <div class="label-part inline"><h4>minutes</h4></div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="vert-divider inline"></div> -->
                            <div class="sub-today inline">
                                <div class="center-text">
                                    <h2>unproductive time today</h2>
                                </div>
                                <div class="center-text">
                                    <div class="inline">
                                        <div class="time-part inline"><h3 id="unprod-hours"></h3></div>
                                        <div class="time-part inline"><h3 id="unprod-minutes"></h3></div>
                                    </div>
                                </div>
                                <div class="center-text">
                                    <div class="inline">
                                        <div class="label-part inline"><h4>hours</h4></div>
                                        <div class="label-part inline"><h4>minutes</h4></div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="vert-divider inline"></div> -->
                            <div id="quota-percent-section" class="sub-today inline {{ quota_streak_section }}">
                                <div class="circle-container">
                                    <div id="quota-percent-border" class="circle-active-border">
                                        <div class="circle">
                                            <span id="quota-percent" class="percent"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="center-text">
                                    <h2>of quota</h2>
                                </div>
                            </div>
                            <!-- <div class="vert-divider inline"></div> -->
                            <div id="streak-section" class="sub-today inline {{ quota_streak_section }}">
                                <div class="center-text">
                                    <h2>streak</h2>
                                </div>
                                <div class="center-text">
                                    <h3 id="streak-val"></h3>
                                </div>
                                <div class="center-text">
                                    <h4>days</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="card1">
                        <h2 id="card1-title"></h2>
                        <h3 id="card1-subtitle"></h3>
                        <div class="loader">Loading...</div>
                        <div id="chart0-container">
                            <div id="chart0"></div>
                            <div id="chart0-nodata" class="hidden nodata">
                                No data.
                            </div>
                            <div id="chart0-options" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" id="last-hour" class="timeframe-choice" autocomplete="off">Last Hour
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" id="today" class="timeframe-choice" autocomplete="off">Today
                                </label>
                                <label class="btn btn-primary active">
                                    <input type="radio" name="options" id="last-24" class="timeframe-choice" autocomplete="off" checked>Last 24
                                    Hours
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" id="last-week" class="timeframe-choice" autocomplete="off">Last Week
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" id="last-year" class="timeframe-choice" autocomplete="off">Last Year
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" id="all" class="timeframe-choice" autocomplete="off">All
                                </label>
                            </div>
                        </div>
                    </div>

                    <div id="card2">
                        <h2 id="card2-title">Usage by Site</h2>
                        <div class="loader">Loading...</div>
                        <div id="chart1-container">
                            <div id="chart1"></div>
                            <div id="chart1-nodata" class="hidden nodata">
                                No data.
                            </div>
                            <div id="chart1-options" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary active">
                                    <input type="radio" name="options" id="last-week" class="timeframe-choice" autocomplete="off" checked>Last Week
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" id="last-month" class="timeframe-choice" autocomplete="off">Last Month
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" id="last-3-months" class="timeframe-choice" autocomplete="off">Last 3
                                    Months
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" id="last-year" class="timeframe-choice" autocomplete="off">Last Year
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" id="all" class="timeframe-choice" autocomplete="off">All
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="settings-dialog" tabindex="-1">
                </div>

                <script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
                <script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/util.js') }}"></script>
                <script src="{{ url_for('static', filename='js/card0_stats.js') }}"></script>
                <script src="{{ url_for('static', filename='js/requests.js') }}"></script>
                <script src="{{ url_for('static', filename='js/data_processing.js') }}"></script>
                <script src="{{ url_for('static', filename='js/bar_graph.js') }}"></script>
                <script src="{{ url_for('static', filename='js/line_graph.js') }}"></script>
                <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
                <script src="{{ url_for('static', filename='js/main.js') }}"></script>
            </body>

            </html>
