<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- FAVICON SHIT -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon.ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon.ico/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon.ico/manifest.json">
    <link rel="mask-icon" href="/static/favicon.ico/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon.ico/favicon.ico">
    <meta name="msapplication-config" content="/static/favicon.ico/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- END FAVICON SHIT -->
    <title>See Progress - Tasks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/attach_acc.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="385569473349-1192ich7o73apbpmu48c4lc32soqgqjk.apps.googleusercontent.com">
</head>

<body>

    <!-- SETTINGS -->
    <!-- <div id="settings-container" class="popup-container hidden">
        <div id="settings-content" class="popup-content">
            <div id="settings-title" class="popup-title">
                <h1>Settings</h1>
            </div>
            <div class="loader">Loading...</div>
            <div class="settings-section-a">
                <div id="quota-header">
                    <h2 id="quota-title">Daily Quota</h2>
                    <label class="switch inline">
                        <input id="quota-toggle" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    <p id="quota-enable-msg" class="settings-error inline hidden"> &#60;&#45;enable here</p>
                </div>
                <div>
                    <div class="form-group inline">
                        <input id="quota-val" type="text" class="form-control" style="width: 100px" onkeypress='return validateNumeric(event)'>
                    </div>

                    <div class="form-group inline">
                        <select class="form-control" id="quota-unit">
                            <option value="hours">hours</option>
                            <option value="minutes">minutes</option>
                        </select>
                    </div>

                    <p id="quota-label"> of </p>
                    <div class="form-group inline">
                        <select class="form-control" id="quota-type">
                            <option value="unprod">unproductive usage</option>
                            <option value="all">any usage</option>
                        </select>
                    </div>
                </div>
                <p id="quota-error" class="settings-error hidden">invalid quota</p>
            </div>
            <div class="settings-section-b">
                <h2>Unproductive Sites</h2>
                <div id="unprod-sites"></div>
                <div id="add-unprod-site">
                    <img height=20 width=20 src="{{ url_for('static', filename='img/plus.png') }}"/>
                </div>
            </div>
            <div class="settings-section-a">
                <div id="settings-buttons">
                    <button id="settings-cancel" class="btn btn-primary inline">cancel</button>
                    <button id="settings-save" class="btn btn-primary inline">save</button>
                </div>
            </div>
        </div>
    </div> -->

    <!-- CREATE/ATTACH ACCOUNT -->
    <!-- {% if not email %}
    <div id="attach-acc-container" class="attach-acc-container hidden">
        <div id="attach-acc-content" class="attach-acc-content">
            <div id="close-attach-acc" onclick="closeAttachAcc();">
                <img height=40 width=40 src="{{ url_for('static', filename='img/x-white.png') }}"/>
            </div>
            <div class="attach-acc-header">
                <div class="inline" style="margin-right: 40px;">
                    <h6 id="signup-link" class="selected" onclick="selectTab(event, 'signup')">sign up</h6>
                </div>
                <div class="inline">
                    <h6 id="login-link" onclick="selectTab(event, 'login')">login</h6>
                </div>
            </div>
            <div class="attach-acc-main">
                <div class="default-auth">
                    <div id="signup">
                        <div class="attach-acc-description">
                            <p style="color: #fff;">
                                All your guest data will be moved to your new account.
                                If you want to create a separate account,
                                <a href="javascript:logout();">click here</a>
                            </p>
                        </div>
                        <form name="signup-form" action="/api/signup" onsubmit="return validateSignUp()" method="post">
                            <input class="auth" type="text" name="email" placeholder="email">
                            <br>
                            <input class="auth" type="password" name="password" placeholder="password">
                            <br>
                            <input class="auth" type="password" name="password-re" placeholder="password again">
                            <br>
                            <input class="auth" type="submit" value="sign up">
                            <br>
                            <div id="password-error" class="auth-error hidden">Passwords do not match.</div>
                            <div id="email-error" class="auth-error hidden">Email is invalid.</div>
                            <div id="empty-error" class="auth-error hidden">A required field is empty.</div>
                        </form>
                    </div>
                    <div id="login" class="hidden">
                        <div class="attach-acc-description">
                            <p style="color: #fff;">
                                All your guest data will be merged with your account.
                                If you want to log into a separate account,
                                <a href="javascript:logout();">click here</a>
                            </p>
                        </div>
                        <form name="login-form" onsubmit="login(); return false;">
                            <input class="auth" type="text" name="email" placeholder="email">
                            <br>
                            <input class="auth" id="login-password" type="password" name="password" placeholder="password">
                            <br>
                            <input class="auth" id="login-submit" type="submit" value="login">
                            <br>
                            <div id="login-error" class="auth-error hidden">Incorrect password.</div>
                        </form>
                    </div>
                </div>
                <div class="or center-parent">
                    <div class="center-child">
                        <p>or</p>
                    </div>
                </div>
                <div class="google-auth center-parent">
                    <div class="center-child">
                        <div id="google-widget"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %} -->

    <div class="indicator-popup" style="display: none;">
        <img class="task-indicator" onclick="onClickNewIndicator(this)" src="/static/img/task_empty.png" height="20" width="20">
        <img class="task-indicator" onclick="onClickNewIndicator(this)" src="/static/img/task_done.png" height="20" width="20">
        <img class="task-indicator" onclick="onClickNewIndicator(this)" src="/static/img/task_su.png" height="20" width="20">
        <img class="task-indicator" onclick="onClickNewIndicator(this)" src="/static/img/task_m.png" height="20" width="20">
        <img class="task-indicator" onclick="onClickNewIndicator(this)" src="/static/img/task_tu.png" height="20" width="20">
        <img class="task-indicator" onclick="onClickNewIndicator(this)" src="/static/img/task_w.png" height="20" width="20">
        <img class="task-indicator" onclick="onClickNewIndicator(this)" src="/static/img/task_th.png" height="20" width="20">
        <img class="task-indicator" onclick="onClickNewIndicator(this)" src="/static/img/task_f.png" height="20" width="20">
        <img class="task-indicator" onclick="onClickNewIndicator(this)" src="/static/img/task_sa.png" height="20" width="20">
    </div>
    <div class="indicator-arrow" style="display: none;"></div>

    <!-- MAIN -->
    <div id="body-container">
        <div id="card0">
            <div id="header">
                <div class="logo">
                    <h1 class="logo1 inline">see</h1>
                    <h1 class="logo2 inline">progress</h1>
                </div>
                <div id="nav">
                    <div class="nav-part">
                        <h5>logged in as:
                            {% if email %}
                            {{ email }}
                            {% else %}
                            guest
                            {% endif %}
                        </h5>
                    </div>
                    <div class="nav-divider"></div>
                    <div class="nav-part">
                        <a href="javascript:logout();"><h5>log out<h5></a>
                    </div>
                    {% if not email %}
                    <div class="nav-divider"></div>
                    <div class="nav-part">
                        <a href="javascript:openAttachAcc();"><h5>create/attach an account<h5></a>
                    </div>
                    {% endif %}
                    <div class="nav-divider"></div>
                    <div class="nav-part">
                        <img id="settings-icon" class="settings-icon" src="{{ url_for('static', filename='img/settings.png') }}"/>
                    </div>
                </div>
            </div>
        </div>
        <div id="card1">
            <div class="loader">Loading...</div>
            <div class="day-container hidden" id="day0-container">
                <div class="day-header">S</div>
                <div id="day0"></div>
                <input class="new-item" type="text" value="" placeholder="add task" onkeypress="newTaskKeyPress(this, event, 'day', 0)">
            </div>
            <div class="day-container hidden" id="day1-container">
                <div class="day-header">M</div>
                <div id="day1"></div>
                <input class="new-item" type="text" value="" placeholder="add task" onkeypress="newTaskKeyPress(this, event, 'day', 1)">
            </div>
            <div class="day-container hidden" id="day2-container">
                <div class="day-header">T</div>
                <div id="day2"></div>
                <input class="new-item" type="text" value="" placeholder="add task" onkeypress="newTaskKeyPress(this, event, 'day', 2)">
            </div>
            <div class="day-container hidden" id="day3-container">
                <div class="day-header">W</div>
                <div id="day3"></div>
                <input class="new-item" type="text" value="" placeholder="add task" onkeypress="newTaskKeyPress(this, event, 'day', 3)">
            </div>
            <div class="day-container hidden" id="day4-container">
                <div class="day-header">T</div>
                <div id="day4"></div>
                <input class="new-item" type="text" value="" placeholder="add task" onkeypress="newTaskKeyPress(this, event, 'day', 4)">
            </div>
            <div class="day-container hidden" id="day5-container">
                <div class="day-header">F</div>
                <div id="day5"></div>
                <input class="new-item" type="text" value="" placeholder="add task" onkeypress="newTaskKeyPress(this, event, 'day', 5)">
            </div>
            <div class="day-container hidden" id="day6-container">
                <div class="day-header">S</div>
                <div id="day6"></div>
                <input class="new-item" type="text" value="" placeholder="add task" onkeypress="newTaskKeyPress(this, event, 'day', 6)">
            </div>
        </div>
        <div id="card2">
            <div class="loader">Loading...</div>
            <div>
                <div class="clear-finished" onclick="clearFinishedTasks();">clear finished tasks</div>
            </div>
            <div id="categories-wrapper" class="hidden">
                <div class="column" id="col0"></div>
                <div class="column" id="col1"></div>
                <div class="column" id="col2"></div>
                <div class="column" id="col3"></div>
            </div>
        </div>
    </div>

    <!-- <div id="settings-dialog" tabindex="-1">
    </div> -->

    <!-- <script src="{{ url_for('static', filename='js/logout.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/attach_acc.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tasks.js') }}"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onOAuthLoad" async defer></script>
</body>

</html>
