h1 {
    font-family: Sinkin-Sans100Thin;
    color: #fff;
    font-size: 30px;
    margin: 0px;
}

h2 {
    font-family: Sinkin-Sans200XLight;
    font-size: 15px;
    color: #999;
}

h3 {
    font-family: Sinkin-Sans200XLight;
    font-size: 40px;
    color: #fff;
}

h4 {
    font-family: Sinkin-Sans300Light;
    font-size: 12px;
    color: #999;
}

h5 {
    font-family: Sinkin-Sans300Light;
    font-size: 15px;
    color: #fff;
}

a h5 {
    text-decoration: underline;
}

body {
    /*background-color: #ECF1F4;*/
    background-color: #000;
    height: 100%;
}

/* ~~~ FIRST CARD ~~~ */
#card0 {
    background-color: #2d333c;
    height: 350px;
    padding: 10px 20px 20px 20px;

}

#header {
    height: 50px;
    /*line-height: 50px;*/
    /*text-align: left;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title {
}

#nav {
    width: 550px;
    display: flex;
    align-items: center;
}

#today {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 15% 20px;
}

.nav-part {
    margin: 0px 20px;
}

.sub-today {
    /*width: 24.5%; /* for some reason 25% doesnt work -.- */
    /*margin: 0px;*/
    /*padding: 40px 20px 10px;*/
    /*height: 270px; /* 350 - 50 - 30*/
    /*vertical-align: top;*/
}

.time-part {
    text-align: center;
    padding: 0px 10px;
}

.label-part {
    text-align: center;
    padding: 0px 10px;
}

.circle-container {
    width: 110px;
    height: 110px;
    margin: 10px auto 0px;
}

.circle {
    position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #2d333c;
}

.circle-active-border {
    position: relative;
    text-align: center;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background-color: #31c4e9;
    margin: 0px;

    /* overwritten by setQuotaPercent in main.js */
    /*background-image:
        linear-gradient(91deg, transparent 50%, #A2ECFB 50%),
        linear-gradient(90deg, #A2ECFB 50%, transparent 50%);*/
}

.percent {
    font-family: Sinkin-Sans200XLight;
    color: #fff;
    top: 30px;
    position: relative;
    font-size: 30px;
}

.vert-divider {
    width: 0px;
    height: 20px;
    border-width: 0px 1px 0px 0px;
    border-color: #fff;
    border-style: solid;

}

#settings-icon {
    height: 24px;
    cursor: pointer;
}

/* ~~~ SECOND CARD ~~~ */
#card1 {
  width: 100%;
  text-align: center;
  padding: 50px 5% 50px 5%;
  background: #fff;
}

#card1-title {
    color: #000;
    font-size: 40px;
}

#card1-subtitle {
    font-family: Sinkin-Sans400Reg;
    font-size: 16px;
    color: #000;
    margin-top: 0px;
}

#chart0-options label {
    background-color: #2d333c;
    border-style: none;
}

#chart0-options label:hover {
    background-color: #3b434f;
}

#chart0-options label.active {
    background-color: #31c4e9;
}

/* ~~~ THIRD CARD ~~~ */
#card2 {
  width: 100%;
  text-align: center;
  padding: 50px 5% 100px 5%;
  background-color: #F0F0EA;
}

#card2-title {
    color: #000;
    font-size: 40px;
}

#chart1-container {
  /*margin-top: 100px;*/
}

#hostnameCheckboxes {
  height: 400px;
  overflow-y: scroll;
}

#chart1-options label {
    background-color: #2d333c;
    border-style: none;
}

#chart1-options label:hover {
    background-color: #3b434f;
}

#chart1-options label.active {
    background-color: #31c4e9;
}

/* ~~~ SETTINGS DIALOG ~~~ */

#settings-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#settings-content {
    background-color: #fefefe;
    margin: 15% auto;
    /*padding: 10px 20px;*/
    border: 1px solid #888;
    width: 800px;
}

#settings-content h1 {
    font-family: Sinkin-Sans300Light;
    font-size: 30px;
    color: #fff;
}

#settings-content h2 {
    font-family: Sinkin-Sans300Light;
    font-size: 25px;
    color: #000;
    /*text-decoration: underline;*/
    margin: 0px 0px 20px;
}

.site {
    font-size: 18px;
    margin: 0px;
}

#settings-title {
    padding: 10px 10px;
    background-color: #2d333c;
    text-align: center;
}

.settings-section-a {
    padding: 15px 20px;
}

.settings-section-b {
    padding: 15px 20px;
    background-color: #eee;
}

#settings-cancel {
    background-color: #2d333c;
    border-style: none;
    font-family: Sinkin-Sans300Light;
    margin-right: 10px;
}
#settings-cancel:hover {
    background-color: #3b434f;
}

#settings-save {
    background-color: #31c4e9;
    border-style: none;
    font-family: Sinkin-Sans300Light;
    color: #000;
}
#settings-save:hover {
    background-color: #1f7e96;
}

#settings-buttons {
    display: flex;
    justify-content: flex-end;
}

#add-unprod-site {
    display: inline-flex;
    background-color: #31c4e9;
    cursor: pointer;
    margin: 5px 0px;
}

.unprod-site {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#unprod-sites hr {
    border-color: #888;
    border-width: 1px;
    margin: 5px 0px;
}

.remove-site {
    cursor: pointer;
}

#quota-label {
    display: inline;
    margin: 0px 10px;
    font-size: 15px;
}

#quota-header {
    display: flex;
    align-items: center;
    margin: 0px 0px 20px;
}

#quota-title {
    margin: 0px 20px 0px 0px !important;
}
