h1 {
    font-family: Sinkin-Sans100Thin;
    color: #fff;
    font-size: 30px;
    margin: 0px;
}

h2 {
    font-family: Sinkin-Sans200XLight;
    font-size: 15px;
    color: #999;
}

h3 {
    font-family: Sinkin-Sans200XLight;
    font-size: 40px;
    color: #fff;
}

h4 {
    font-family: Sinkin-Sans300Light;
    font-size: 12px;
    color: #999;
}

h5 {
    font-family: Sinkin-Sans300Light;
    font-size: 15px;
    color: #fff;
}

a h5 {
    text-decoration: underline;
}

body {
    background-color: #fff;
    height: 100%;
}

#body-container {
    width: 100%;
}

@media only screen and (max-width : 960px) {
    #body-container {
        width: 960px;
    }
}

/* ~~~ FIRST CARD ~~~ */
#card0 {
    background-color: #2d333c;
    width: 100%;
}

#header {
    padding: 10px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav {
    display: flex;
    align-items: center;
}

.nav-part {
    display: inline;
    margin: 0px 20px;
}

.nav-divider {
    display: inline;
    width: 2px;
    height: 20px;
    border-width: 0px 1px 0px 0px;
    border-color: #fff;
    border-style: solid;

}
/* ~~~~~~~~~~~~ */

.settings-icon {
    height: 24px;
    cursor: pointer;
}

.card1 {
  width: 100%;
  text-align: center;
  padding: 50px 5% 50px 5%;
  background: #fff;
}

.card2 {
  width: 100%;
  text-align: center;
  padding: 50px 5% 100px 5%;
  background-color: #F0F0EA;
}

.card-title {
    color: #000;
    font-size: 40px;
}
