html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #87848C; /* if gradient is not supported */
    background: linear-gradient(#87848C, #A6938F);
}

h1 {
    font-family: Sinkin-Sans100Thin;
    color: #fff;
    font-size: 50px;
    margin-bottom: 30px;
}

h2 {
    font-family: Sinkin-Sans200XLight;
    font-size: 25px;
    color: #aaa;
    cursor: pointer;
}

h2 .selected {
    color: #fff;
}

h2:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid white;
}

p {
    font-family: Sinkin-Sans300Light;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
}

input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: #fff;
    font-family: Sinkin-Sans300Light;
    font-size: 20px;
    margin: 20px 0px;
}

input::placeholder {
    color: #fff;
    font-family: Sinkin-Sans300Light;
    font-size: 15px;
}

input:focus {
    outline: none;
}

input[type=submit] {
    font-family: Sinkin-Sans200XLight;
    background-color: #aacfed;
    color: #000;
    border: none;
    font-size: 25px;
}

input[type=submit]:hover {
    color: #fff;
    background-color: #26262E;
}

#login-card-wrapper {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 5% 10%;
}

#login-card {
    height: 100%;
    width: 100%;
    margin: 0px;
}

#login-card-left {
    padding: 2% 5%;
    background-color: #26262E;
    height: 100%;
}

#login-card-right {
    background-color: #303038;
    height: 100%;
    text-align: center;
}

.login-card-right-main {
    margin-top: 90px;
}

.login-card-right-header {
    padding-top: 15px;
}

.default-signup {
    padding: 0px 20px;
}

.or {
    margin-top: 110px;
}

.google-signup {
    margin-top: 95px;
}

.selected {
    color: #fff;
    border-bottom: 2px solid white;
}

@media only screen
and (max-width : 1199px) {
    .or {
        margin-top: 10px;
    }

    .google-signup {
        margin-top: 10px;
    }

    .default-signup {
        padding: 0px 40px;
    }
}

@media only screen
and (max-width : 900px) {
    #login-card-wrapper {
        padding: 0px;
    }
}

@media only screen
and (max-width : 767px) {
    #login-card-left {
        height: auto;
    }
    .login-card-right-main {
        margin-top: 20px;
    }
}

@media only screen
and (max-width : 300px) {
    #login-card-left {
        height: auto;
    }
    .login-card-right-main {
        margin-top: 20px;
    }
    .default-signup {
        padding: 0px 5px;
    }
    .google-signup {
        padding: 0px 5px;
    }
}
