@font-face {
    font-family: 'Sinkin-Sans400Reg';
    src: url('fonts/SinkinSans-400Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sinkin-Sans100Thin';
    src: url('fonts/SinkinSans-100Thin.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sinkin-Sans100ThinItalic';
    src: url('fonts/SinkinSans-100ThinItalic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sinkin-Sans200XLight';
    src: url('fonts/SinkinSans-200XLight.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sinkin-Sans300Light';
    src: url('fonts/SinkinSans-300Light.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sinkin-Sans400Italic';
    src: url('fonts/SinkinSans-400Italic.otf');
    font-weight: normal;
    font-style: normal;
}

.inline {
    display: inline-block;
}

.center-vertically {
    top: 50%;
    transform: translateY(-50%);*/
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-text {
    text-align: center;
}

.full-width {
    width: 100%;
}

.hidden {
    display: none;
}
