#card1 {
    width: 100%;
    background-color: #F0F0F0;
    /*background-color: #2d333c;*/
    padding: 20px 20px;
    display: inline-flex;
    align-items: flex-start;
}

#card3 {
    width: 100%;
    background-color: #3e3e40;
    padding: 20px 20px;
}

body {
    background-color: #3e3e40;
}

.day-container {
    flex-basis: 12.5%;
    margin: 0 2px;
    background-color: #fff;
    -moz-box-shadow: 0 0 10px #666;
    -webkit-box-shadow: 0 0 10px #666;
    box-shadow: 0 0 10px #666;
}

.day-header {
    text-align: center;
    font-family: Sinkin-Sans200XLight;
    font-size: 20px;
    color: #fff;
    background-color: #2d333c;
}

.today-container > .day-header {
    background-color: #31c4e9;
    color: #000;
}

hr {
    /*width: 100%;*/
    margin: 0px 15px;
    border-top: 1px solid #ddd;
}

.today-container {
    flex-basis: 25% !important;
}

.new-item {
    padding: 20px 15px;
    font-family: OpenSans-Regular;
    font-size: 15px;
    height: 27px;
    border: 0px;
    width: 100%;
}

.new-item::placeholder {
    color: #9cb6bc;
    font-family: OpenSans-Regular;
    font-size: 15px;
}

.rename-cat {
    background: transparent;
    height: 100%;
    border: 0px;
    width: 80%;
    color: #000;
}

.rename-cat::placeholder {
    color: #777;
    /*font-family: OpenSans-Regular;
    font-size: 15px;*/
}

#card1 .loader:before, #card1 .loader:after {
    background: #F0F0F0;
}

#card2 {
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
}

#card2 .loader:before, #card2 .loader:after {
    background: #fff;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 7px;
}

/* ~~~~~ CATEGORY ~~~~~ */
.category {
    margin: 8px 0px 16px;
    border: 1px solid #ddd;
    /*padding: 0px 15px;*/
}

.category-header {
    margin: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: AvenirNext-DemiBold;
    font-size: 14px;
    padding: 15px 0px 10px 0px;
    border-bottom: 1px solid #ddd;
}

.cat-settings-wrapper .cat-move-wrapper {
    padding-bottom: 2px;
}

#categories-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    width: 100%;
}
/* ~~~~~~~~~~ */

/* ~~~ TASKS ~~~ */
.task-wrapper {
    padding: 0px 15px 0px 0px;
    cursor: pointer;
}

.task-wrapper:hover {
    background-color: #f0f0f0;
}

.task-done {
    text-decoration: line-through;
    color: #999 !important;
}

.task-subwrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.task {
    display: flex;
    color: #000;
    font-family: OpenSans-Regular;
    /*font-family: Sinkin-Sans300Light;*/
    font-size: 15px;
    padding: 15px 0px;
    line-height: 15px;
    flex-grow: 1;
}

.task-strip {
    display: flex;
    background-color: #555;
    font-family: OpenSans-Regular;
    color: #fff;
    font-size: 10px;
    /*width: 12px;*/
    flex: 0 0 12px;
    margin-right: 3px;
    align-items: center;
    justify-content: center;
}

.no-strip {
    padding-left: 15px;
}

.task-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content:center;
}
/* ~~~~~~~ */

/* ~~~ MENU POPUP ~~~ */
.options-popup {
    position: absolute;
    z-index: 2;
    background-color: #2d333c;
    display: inline-block;
    padding: 10px 0px;
    -moz-box-shadow: 0 0 10px #666;
    -webkit-box-shadow: 0 0 10px #666;
    box-shadow: 0 0 10px #666;
    border-radius: 10px;
}

.dow-selection {
    padding: 0px 10px 5px;
}

.options-arrow {
    position: absolute;
    z-index: 1;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #2d333c;
}

.popup-container {
    /* rest is in style.css */
    background-color: rgba(0,0,0,0);
}

.option {
    font-family: OpenSans-Regular;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px 10px;
}
.option:hover {
    background-color: #666;
}

.color-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px
}

.color-option {
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
}

.color-selection {
    padding: 5px 10px 0px;
}

#jscolorButtonElem {
    border: 2px solid black;
    width: 60px;
}
/* ~~~~~~~~~ */

.add-category {
    margin-top: 8px;
    height: 100px;
    border: 3px dashed #2d333c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
  margin: 0 auto;
  position: absolute;
  background-color: #2d333c;
}

.horizontal {
    width: 40px;
    height: 7px;
}

.vertical {
  width: 7px;
  height: 40px;
}

.card2-links {
    float: right;
    clear: both;
    font-family: OpenSans-Regular;
}

.card2-link {
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
    color: #4286f4;
}

.cat-move-icon {
    margin: 0px 0px 0px 5px;
}

#fail-bar {
    padding: 5px 15px;
    text-align: center;
    vertical-align: middle;
    font-family: OpenSans-Regular;
    font-size: 15px;
    height: 32px;
    width: 100%;
    color: #fff;
    background-color: #bc2b2b;
    position: fixed;
    left: 0;
    top: 0;
}
